body {
    font-family: "Lobster", sans-serif;
	background-image: url(imeges/1.bg\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	color: white;
}
h1{
	font-size: 50px;
}

.meas_container{
	background-color: rgb(20,0,0,0.7);
}
.row{
	font-size: 50px;
}
.title{
	font-size: 20px;
}

